@model Newtonsoft.Json.Linq.JObject
@using System.Configuration
@using Eumis.Common.Config
@{
  string portalUrl = ConfigurationManager.AppSettings.GetWithEnv("Eumis.Job.Host:PortalUrl");
  string procCode = (string)Model["procCode"];
  string procName = (string)Model["procName"];
  string programmeName = (string)Model["programmeName"];
  string companyName = (string)Model["companyName"];
  string projectName = (string)Model["projectName"];
  string questionRegNumber = (string)Model["regNumber"];
  string email = (string)Model["email"];
  string questionEndingDate = (string)Model["questionEndingDate"];
}

<p style="margin-bottom: 15px;"><strong style="color: #444444;">Система за управление на националните инвестиции</strong></p>

<p style="margin-bottom: 15px;">Във връзка с Ваше проектно предложение по схема за кандидатстване: @procCode - @procName, Основна организация @programmeName, с кандидат @companyName и наименование: <strong>@projectName</strong>, има зададен въпрос.</p>

<p style="margin-bottom: 15px;">Регистрационен номер: <strong>@questionRegNumber</strong></p>

<p style="margin-bottom: 15px;">Краен срок за отговор: <strong>@questionEndingDate</strong></p>

<p style="margin-bottom: 15px;">Въпросът може да намерите в раздел „Въпроси от комисията“ на менюто „Проектни предложения“ в системата на адрес <a href="@(portalUrl)">@portalUrl</a> и профила, асоцииран с имейл адрес <strong>@email</strong>, където имате възможност и за отговор.</p>

<p style="margin-bottom: 15px;"><strong>Внимание</strong>: <span style="color: red;">Всички въпроси имат зададен от оценителната комисия срок за отговор, поради което е необходимо периодично да проверявате имейл адреса си и профила, асоцииран с него. След този срок въпросите ще бъдат затворени и системата няма да Ви позволи да извършвате каквито и да било действия освен „Преглед“.</span></p>

<p style="margin-bottom: 2px; border-bottom: 1px solid black;">Поздрави, <br/>
Екипът на СУНИ</p>

<p style="font-size: 13px; margin-top: 0px;">Моля, не отговаряйте на този имейл адрес, той е изпратен от автоматичната служебна поща на системата. <br/>
