@model Newtonsoft.Json.Linq.JObject
@using System.Configuration
@using Eumis.Common.Config
@{
  string portalUrl = ConfigurationManager.AppSettings.GetWithEnv("Eumis.Job.Host:PortalUrl");
  string portalRoot = portalUrl + "/bg/s";
  string portalFeedback = portalUrl + "/bg/s/feedback";
  string activationLink = string.Format("{0}/account/passwordrecovery?ac={1}", portalRoot, (string)Model["code"]);
  string email = (string)Model["registrationEmail"];
}

<p style="margin-bottom: 15px;"><strong style="color: #444444;">Система за управление на националните инвестиции</strong></p>

<p style="margin-bottom: 15px;">Здравейте, <br/>
В СУНИ беше получена заявка за смяна на парола за потребителски профил, асоцииран с имейл адрес: <strong style="color: #444444;">@email</strong>.</p>

<p style="margin-bottom: 15px;"><strong style="color: #444444;">Ако заявката не е направена от Вас, моля, изтрийте този имейл.</strong></p>

<p style="margin-bottom: 15px;">Ако наистина сте забравили паролата си и искате да я смените, натиснете тази хипервръзка за активиране на услугата: <br/>
<a href="@(activationLink)">@(activationLink)</a></p>

<p style="margin-bottom: 2px; border-bottom: 1px solid black;">Поздрави, <br/>
Екипът на СУНИ</p>

<p style="font-size: 13px; margin-top: 0px;">Моля, не отговаряйте на този имейл, той е изпратен автоматично от служебната поща на системата.<br/>
При необходимост от съдействие и помощ, моля, използвайте контактите, посочени на портала <a href="@portalRoot">СУНИ</a> или формата на системата за <a href="@portalFeedback">Обратна връзка</a>.</p>
