@model Eumis.Public.Web.Models.Contractor.ContractorSearchVM
@using Eumis.Public.Web.InfrastructureClasses

@using PagedList
@using PagedList.Mvc;

@{
    var breadcrumbLinks = new List<BreadcrumbItem>() { new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), Texts.Global_Home) };
}

@Html.Breadcrumb(breadcrumbLinks, Texts.Global_Contractors)

<div class="container">

    <div class="page-title">
        <h1>@Texts.Global_Contractors</h1>
    </div>

    <div class="page-content">
        <form class="form-with-sections" method="post">
            <section data-section="2" class="clearfix" style="display: block;">
                <div class="form-group col-lg-4 col-sm-9">
                    <label>@Texts.Contractor_Index_Contractor</label>
                    @Html.TextBoxFor(m => m.Contractor, new { @class = "form-control" })
                </div>
                <div class="form-group col-lg-4 col-sm-9">
                    <label>@Texts.Contractor_Index_CompanyUin</label>
                    @Html.TextBoxFor(m => m.CompanyUin, new { @class = "form-control" })
                </div>
                @Html.Hidden("ShowRes", true)
                <div class="form-submit col-lg-3 col-sm-3">
                    <input type="submit" class="submit m-right-0 wait" name="submit" value="@Texts.Global_SearchButtonValue">
                </div>
            </section>
        </form>

        @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
        {
            <div class="heading-with-export clearfix">
                @Html.Partial(MVC.Shared.Views._ExportIcons)
            </div>

            <div class="table-wrapper">
                <table class="chart-info">
                    <thead>
                        <tr>
                            <th>@Texts.Contractor_Index_Name</th>
                            <th>@Texts.Contractor_Index_ContractsCount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contractor in Model.SearchResults)
                        {
                            <tr>
                                <td>@Html.ActionLink(contractor.TransFullName, MVC.Company.ActionNames.Index, MVC.Company.Name, new { uin = Eumis.Public.Common.Crypto.ConfigurationBasedStringEncrypter.Encrypt(contractor.Uin), uinType = contractor.UinType, isHistoric = contractor.IsHistoric, type = Eumis.Public.Web.Models.Company.CompanyEnumType.Contractor }, new { @class = "wait" })</td>
                                <td class="sum-field">@Html.DisplayFor(e => contractor.ContractsCount)</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.SearchResults != null && Model.SearchResults.PageCount > 1)
                {
                    <div class="paging clearfix">
                        <span>@Texts.Global_Page (@Model.SearchResults.PageNumber/@Model.SearchResults.PageCount):</span>
                        @Html.PagedListPager(Model.SearchResults,
                            page => Url.Action(MVC.Contractor.ActionNames.Index,
                                MVC.Contractor.Name
                                , new
                                {
                                    contractor = Request.QueryString["contractor"],
                                    showRes = true,
                                    page = Eumis.Public.Common.Crypto.ConfigurationBasedStringEncrypter.Encrypt(page.ToString())
                                })
                            , new PagedListRenderOptions
                            {
                                Display = PagedListDisplayMode.IfNeeded,
                                DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                LinkToNextPageFormat = ">",
                                LinkToPreviousPageFormat = "<"
                            })
                    </div>
                }
            </div>

            <h2>@Texts.Global_Note:</h2>
            <div class="note">
                @Texts.Global_NoteUnderlined
            </div>
        }
         else if (Model.ShowRes)
        {
            <div class="no-results"><span>@Texts.Global_NoResults</span></div>
        }
    </div>
</div>