@using Eumis.Public.Web.InfrastructureClasses
@using Eumis.Public.Web.Models.Operations
@using Eumis.Public.Common

@using PagedList
@using PagedList.Mvc;

@model OperationsSearchVM

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), Texts.Global_Home),
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name) + "#" + Eumis.Public.Common.Configuration.HTML_ENQUERIES_ID, Texts.Global_Enquiries),
}, Texts.Operations_Index_OperationsList)

<div class="container">

    <div class="page-title">
        <h1>@Texts.Operations_Index_OperationsList</h1>
    </div>

    <div class="page-content">
        <form class="form-with-sections" method="post">
            @Html.ValidationSummary()
            <section data-section="2" class="clearfix" style="display: block;">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>@Texts.Operations_Index_ProgramName</label>
                        @Html.DropDownListFor(m => m.ProgrammeId, Model.Programs, Texts.Global_Placeholder, new { @class = "select2" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3 col-sm-6">
                        <label>@Texts.Operations_Index_DateFrom</label>
                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control datepicker" })
                    </div>

                    <div class="form-group col-lg-3 col-sm-6">
                        <label>@Texts.Operations_Index_DateTo</label><br>
                        @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control datepicker" })
                    </div>

                    <div class="form-submit col-lg-3 col-sm-12">
                        <input type="submit" class="submit m-right-0 wait" name="submit" value="@Texts.Global_SearchButtonValue">
                    </div>
                </div>
            </section>
        </form>
        @if (Model.ShowRes)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('html, body').animate({ scrollTop: (580) }, 1400, 'easeOutQuint');
                });
            </script>

            if (Model.SearchResults != null && Model.SearchResults.Count > 0)
            {
                <div class="heading-with-export clearfix">
                    <h2>@Texts.Operations_Index_OperationsList</h2>
                    @Html.Partial(MVC.Shared.Views._ExportIcons)
                </div>
                <div class="table-wrapper">
                    <table class="chart-info">
                        <thead>
                            <tr>
                                <th>@Texts.Operations_Index_BeneficiaryName</th>
                                <th>@Texts.Operations_Index_OperationName</th>
                                <th>@Texts.Operations_Index_OperationSummary</th>
                                <th>@Texts.Operations_Index_OperationStartDate</th>
                                <th>@Texts.Operations_Index_OperationEndDate</th>
                                <th width="15%">@Texts.Operations_Index_TotalEligibleExpenditure</th>
                                <th>@Texts.Operations_Index_PercentFinancingEU</th>
                                <th>@Texts.Operations_Index_Location</th>
                                <th>@Texts.Operations_Index_InterventionCategoriesName</th>
                                <th>@Texts.Operations_Index_LastUpdate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model.SearchResults)
                            {
                                <tr>
                                    <td>@project.TransCompanyFullName</td>
                                    <td>@Html.ActionLink(project.TransName, MVC.Project.BasicData(Eumis.Public.Common.Crypto.ConfigurationBasedStringEncrypter.Encrypt(project.ContractId), false), new { @class = "wait" })</td>
                                    <td>@project.TransDescription.TruncateWithEllipsis(100)</td>
                                    <td>@Html.DisplayFor(m => project.StartDate)</td>
                                    <td>@Html.DisplayFor(m => project.CompletionDate)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => project.ContractedTotalAmount)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => project.ContractedEuAmountPercentage)</td>
                                    <td>
                                        @if (project.TransNutsFullPathNames != null && project.TransNutsFullPathNames.Count() > 0)
                                        {
                                            <ul style="padding-left:10px; margin:0px;">
                                                @foreach (var location in project.TransNutsFullPathNames)
                                                {
                                                    <li>@location</li>
                                                }
                                            </ul>
                                        }
                                    </td>
                                    <td>
                                        @if (project.InterventionCategories != null && project.InterventionCategories.OrderBy(e => e.Name).Count() > 0)
                                        {
                                            foreach (var interventionCategory in project.InterventionCategories)
                                            {
                                                <span>@interventionCategory.TransName</span><br />
                                            }
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(m => project.ModifyDate)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (Model.SearchResults != null && Model.SearchResults.PageCount > 1)
                    {
                        <div class="paging clearfix">
                            <span>@Texts.Global_Page (@Model.SearchResults.PageNumber/@Model.SearchResults.PageCount):</span>
                            @Html.PagedListPager(Model.SearchResults,
                                page => Url.Action(MVC.Operations.ActionNames.Index, MVC.Operations.Name
                                    , new
                                    {
                                        programmeId = Request.QueryString["programmeId"],
                                        dateFrom = Request.QueryString["dateFrom"],
                                        dateTo = Request.QueryString["dateTo"],
                                        showRes = true,
                                        page = Eumis.Public.Common.Crypto.ConfigurationBasedStringEncrypter.Encrypt(page.ToString())
                                    })
                                , new PagedListRenderOptions
                                {
                                    Display = PagedListDisplayMode.IfNeeded,
                                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                    LinkToNextPageFormat = ">",
                                    LinkToPreviousPageFormat = "<"
                                })
                        </div>
                    }
                </div>

                <h2>@Texts.Global_Note:</h2>
                <div class="note">
                    [1] @Texts.Operations_Index_TInterventionField<br />
                    [2] @Texts.Operations_Index_TFormOfFinance<br />
                    [3] @Texts.Operations_Index_TTerritorialDimension<br />
                    [4] @Texts.Operations_Index_TTerritorialDeliveryMechanism<br />
                    [5] @Texts.Operations_Index_TThematicObjective<br />
                    [6] @Texts.Operations_Index_TESFSecondaryTheme<br />
                    [7] @Texts.Operations_Index_TEconomicDimension<br />
                    @Texts.Global_NoteBGN
                </div>
            }
            else
            {
                <div class="no-results"><span>@Texts.Global_NoResults</span></div>
            }
        }
    </div>
</div>
