@using Eumis.Portal.Web.Helpers
@model Eumis.Portal.Web.Models.Communication.EditVM

@{
    string breadcrumbString = R_10042.Communication.GetDocumentHeaderText(Model.type);
}

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton),
    new BreadcrumbItem(Url.Action(MVC.Report.List.ActionNames.Index, MVC.Report.List.Name, new { area = MVC.Report.Name }), "Договори"),
    new BreadcrumbItem(Url.Action(MVC.Report.BFPContract.ActionNames.Index, MVC.Report.BFPContract.Name, new { area = MVC.Report.Name }), ContractMetadata.GetContractNumberHeader),
    new BreadcrumbItem(Url.Action(MVC.Report.Communication.ActionNames.Index, MVC.Report.Communication.Name, new { area = MVC.Report.Name, type = Model.type }), breadcrumbString)
}, "Редакция")

<!-- PAGE TITLE -->
<div class="container page-title">
    <h1>@ContractMetadata.GetContractNumberHeader</h1>
</div>

<div class="container">

    @using (Html.BeginForm(MVC.Report.Communication.ActionNames.Prepare,
    MVC.Report.Communication.Name,
    new { currentStep = Model.CurrentStep },
    FormMethod.Post,
    new { id = Constants.PARTIAL_SAVE_COMMUNICATION, role = "form", @class = "form-with-sections" }))
    {
        <ul class="nav nav-tabs">
            @Html.BeginActionLinkPrePostButton(
                null,
                null,
                MVC.Report.Communication.ActionNames.Prepare,
                MVC.Report.Communication.Name,
                routeValues:
                    new
                    {
                        step = AppStep.Prepare,
                        currentStep = AppStep.Prepare,
                    },
                htmlAttributes: new { @class = "tab active wait" },
                formId: Constants.PARTIAL_SAVE_COMMUNICATION,
                formMethod: FormMethod.Post)
            @breadcrumbString
            @Html.EndActionLinkPrePostButton()
        </ul>
        <div class="tab-content">

            @Html.ValidationSummaryForPopover(Model.LocalValidationErrors)
            @Html.ValidationSummaryForErrors(Model.LocalValidationErrors, null, Global.ValidationSummaryTitle, Global.ValidationSummarySuccessTitle, Global.ShowErrorTitle, Global.HideErrorTitle)
            @Html.ValidationSummaryForWarnings(null, Global.ValidationSummaryWarningsTitle, Global.ShowWarningTitle, Global.HideWarningTitle)

            @Html.EditorFor(m => m, MVC.Shared.Views.EditorTemplates.CommunicationEdit)

            <div class="form-submit">
                <div class="save-as-draft-wrapper fixed">
                    
                    @Html.Partial(MVC.Shared.Views._SaveAsDraftPartial,
                        new Eumis.Portal.Web.Models.DownloadDraftXmlVM
                        {
                            ControllerName = MVC.Report.Communication.Name,
                            SecondActionName = Constants.SaveDraftActionName,
                            PostActionName = MVC.Report.Communication.ActionNames.Save,
                            HasXmlUpdate = true,
                            FORM_ID = Constants.PARTIAL_SAVE_COMMUNICATION
                        })
                    </div>

                    <input type="submit" class="submit wait" name="submit" value="@Global.ButtonContinueTextUpper">
                </div>
            </div>
            <script type="text/javascript">
            $('#@(Constants.PARTIAL_SAVE_COMMUNICATION)').submit(function (event) {
                PARTIAL_SAVE_SECTIONS(function () {
                    $.submitPage('@(Url.Action(MVC.Report.Communication.ActionNames.Prepare, MVC.Report.Communication.Name, new { currentStep = Model.CurrentStep }))',
                        'post', '@(Constants.PARTIAL_SAVE_COMMUNICATION)', undefined, undefined, undefined, true);
                }, this);
                return false;
            });
            </script>
    }
</div>
