@model R_10040.BFPContractIndicatorCollection

<div class="table-wrapper" ng-controller="controllerIndicators">
    <img class="horizontal-scroll" src="@Url.Content(Links.Content.img.icons.blue_arrow_right_gif)" alt="" />
    <table class="chart-info" width="100%">
        <thead>
            <tr ng-class="{'input-validation-error': !hasUniqueIds}" name="@(Html.GetNameFor(m => m))">
                <th>@BFPContractIndicators.Name</th>
                <th>@BFPContractIndicators.Type</th>
                <th colspan="2">@BFPContractIndicators.Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="item in items" style="display:none;"></tr>
            <tr ng-class="{'deactivated-gray' : item.IsDeactivated || !item.isActive}">
                <td style="word-break: break-all">
                    <input type="hidden" name="@(Html.GetNameFor(m => m))[{{ $index }}].IsDeactivated"
                           ng-value="{{item.IsDeactivated}}" />
                    <input type="hidden" name="@(Html.GetNameFor(m => m))[{{ $index }}].HasGenderDivision"
                           value="{{ item.SelectedIndicator.HasGenderDivision }}" />

                    <div style="display: block; width: 100%;">
                        {{ item.SelectedIndicator.Name }}
                        <img class="info-icon" info-icon src="@Url.Content(Links.Content.img.icons.info_white_png)" data-placement="right" data-toggle="popover" data-content="@Global.Deactivated" data-trigger="hover" alt="" data-original-title="" title="" ng-if="item.IsDeactivated">
                    </div>
                </td>
                <td>
                    <div style="display: block; width: 100%;">
                        {{item.SelectedIndicator.TypeName}}
                    </div>
                </td>
                <td style="width: 130px;">
                    <a title="" id="{{item.editTriggerId}}" class="history-btn" history-btn>
                        <img class="arrow" src="@Url.Content(Links.Content.img.icons.blue_arrow_right_small_gif)" alt="">@Global.Edit
                    </a>
                </td>
                <td style="width: 130px;">

                    @* Not activated *@
                    <a class="delete-btn" confirm-click="delItem(item)" ng-if="!item.isActivated">@Global.DeleteButton</a>
                    <input type="hidden" ng-if="!item.isActivated" value="True" name="@(Html.GetNameFor(m => m))[{{$index}}].isActive" />

                    @* Activated *@
                    <input id="ind_chbx{{$index}}" type="checkbox" ng-model="item.isActive" ng-if="item.isActivated" />
                    <label for="ind_chbx{{$index}}"><img class="info-icon" ng-if="item.isActivated" info-icon src="@Url.Content(Links.Content.img.icons.info_png)" sc-placement="top" data-toggle="popover" data-content="@Global.ActivatedDisabledDelete" data-trigger="hover"></label>
                    <input type="hidden" ng-if="item.isActivated" value="True" name="@(Html.GetNameFor(m => m))[{{$index}}].isActivated" />
                    <input type="hidden" name="@(Html.GetNameFor(m => m))[{{$index}}].isActive" ng-value="item.isActive" />
                </td>
            </tr>

            <tr class="history-table" ng-class="{'deactivated-gray' : item.IsDeactivated || !item.isActive}">
                <td colspan="4">
                    <div class="history-table-wrapper clearfix">
                        <div class="clearfix">
                            <div class="form-group col-lg-6 col-md-12">
                                <label>@BFPContractIndicators.Name</label>
                                <input ng-class="{'input-validation-error': !item.IsNameValid}" type="hidden" ng-model="item.SelectedIndicator" ng-readonly="!item.isActive || item.isActivated"
                                       ui-select2="{ allowClear: true, placeholder: ' ', query: loadIndicatorNomenclature }" ng-change="clearBaseTarget(item)" />

                                <input type="hidden" name="@(Html.GetNameFor(m => m))[{{ $index }}].gid" value="{{ item.gid }}" />

                                <input ng-class="{'input-validation-error': !item.IsNameValid}" type="hidden" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.Id"
                                       value="{{ item.SelectedIndicator.id }}" class="validation-error-key" />
                                <input type="hidden" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.Name"
                                       value="{{ item.SelectedIndicator.Name }}" />
                            </div>
                            <div class="form-group col-lg-6 col-md-12 text-right" ng-if="item.isDataChanged">
                                <a class="edit-btn" style="margin-top:26px; display: inline-block;" ng-click="updateDataFromProcedure(item)">@BFPContractIndicators.MakeProcedureDataActual</a>
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.Type</label>
                            <input type="text" ng-model="item.SelectedIndicator.TypeName" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.TypeName" class="form-control" readonly />
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.Trend</label>
                            <input type="text" ng-model="item.SelectedIndicator.TrendName" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.TrendName" class="form-control" readonly />
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.Kind</label>
                            <input type="text" ng-model="item.SelectedIndicator.KindName" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.KindName" class="form-control" readonly />
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.Measure</label>
                            <input type="text" ng-model="item.SelectedIndicator.MeasureName" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.MeasureName" class="form-control" readonly />
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.AggregatedReport</label>
                            <input type="text" ng-model="item.SelectedIndicator.AggregatedReport" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.AggregatedReport" class="form-control" readonly />
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.AggregatedTarget</label>
                            <input type="text" ng-model="item.SelectedIndicator.AggregatedTarget" name="@(Html.GetNameFor(m => m))[{{ $index }}].SelectedIndicator.AggregatedTarget" class="form-control" readonly />
                        </div>

                        <div class="form-group col-lg-4 col-md-6" ng-show="item.SelectedIndicator.HasGenderDivision">
                            <label>@BFPContractIndicators.BaseMen</label>
                            <input ng-readonly="!item.isActive" money ng-class="{'input-validation-error': !item.IsBaseMenValid}" type="text" ng-model="item.BaseMen" name="@(Html.GetNameFor(m => m))[{{ $index }}].BaseMen" class="form-control sum-field" />
                        </div>

                        <div class="form-group col-lg-4 col-md-6" ng-show="item.SelectedIndicator.HasGenderDivision">
                            <label>@BFPContractIndicators.BaseWomen</label>
                            <input ng-readonly="!item.isActive" money ng-class="{'input-validation-error': !item.IsBaseWomenValid}" type="text" ng-model="item.BaseWomen" name="@(Html.GetNameFor(m => m))[{{ $index }}].BaseWomen" class="form-control sum-field" />
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.BaseTotal</label>
                            <input money ng-class="{'input-validation-error': !item.IsBaseValid}" type="text" ng-model="item.BaseTotal" name="@(Html.GetNameFor(m => m))[{{ $index }}].BaseTotal" class="form-control sum-field" ng-readonly="item.SelectedIndicator.HasGenderDivision || !item.isActive" />
                        </div>

                        <div class="form-group col-lg-4 col-md-6" ng-show="item.SelectedIndicator.HasGenderDivision">
                            <label>@BFPContractIndicators.TargetMen</label>
                            <input ng-readonly="!item.isActive" money ng-class="{'input-validation-error': !item.IsTargetMenValid}" type="text" ng-model="item.TargetMen" name="@(Html.GetNameFor(m => m))[{{ $index }}].TargetMen" class="form-control sum-field" />
                        </div>

                        <div class="form-group col-lg-4 col-md-6" ng-show="item.SelectedIndicator.HasGenderDivision">
                            <label>@BFPContractIndicators.TargetWomen</label>
                            <input ng-readonly="!item.isActive" money ng-class="{'input-validation-error': !item.IsTargetWomenValid}" type="text" ng-model="item.TargetWomen" name="@(Html.GetNameFor(m => m))[{{ $index }}].TargetWomen" class="form-control sum-field" />
                        </div>

                        <div class="form-group col-lg-4 col-md-6">
                            <label>@BFPContractIndicators.TargetTotal</label>
                            <input money ng-class="{'input-validation-error': !item.IsTargetValid}" type="text" ng-model="item.TargetTotal" name="@(Html.GetNameFor(m => m))[{{ $index }}].TargetTotal" class="form-control sum-field" ng-readonly="item.SelectedIndicator.HasGenderDivision || !item.isActive" />
                        </div>

                        <div class="form-group col-lg-12 col-md-12">
                            <label>@BFPContractIndicators.Description @SymbolsCount.Symbols1000</label>
                            <textarea ng-readonly="!item.isActive" symbols-count count-text="@Global.SymbolsCount" ng-class="{'input-validation-error': !item.IsDescriptionValid}" auto-grow ng-model="item.Description" name="@(Html.GetNameFor(m => m))[{{ $index }}].Description" class="form-control" rows="2" style="height: 60px;"></textarea>
                        </div>

                        <div class="form-group col-md-10">
                            <label>@BFPContractIndicators.ProgrammePriority</label>
                            <sc-nomenclature sc-alias="GetProgrammePriorities" ng-model="item.ProgrammePriority">
                            </sc-nomenclature>
                            <input type="hidden" value="{{ item.ProgrammePriority.id }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].ProgrammePriority.id" />
                            <input type="hidden" value="{{ item.ProgrammePriority.Name }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].ProgrammePriority.Name" />
                        </div>

                        <div class="form-group col-md-2">
                            <label>@BFPContractIndicators.FinanceSource</label>
                            <sc-nomenclature sc-alias="GetFinanceSources" ng-model="item.FinanceSource" sc-parent-id="item.ProgrammePriority.id">
                            </sc-nomenclature>
                            <input type="hidden" value="{{ item.FinanceSource.Value }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].FinanceSource.Value" />
                            <input type="hidden" value="{{ item.FinanceSource.Description }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].FinanceSource.Description" />
                        </div>
                        
                        <div class="form-group col-md-12">
                            <label>@BFPContractIndicators.InvestmentPriority</label>
                            <sc-nomenclature sc-alias="GetInvestmentPriorities" ng-model="item.InvestmentPriority" sc-parent-id="item.ProgrammePriority.id">
                            </sc-nomenclature>
                            <input type="hidden" value="{{ item.InvestmentPriority.id }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].InvestmentPriority.id" />
                            <input type="hidden" value="{{ item.InvestmentPriority.Name }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].InvestmentPriority.Name" />
                        </div>
               
                        <div class="form-group col-md-12">
                            <label>@BFPContractIndicators.SpecificTarget</label>
                            <sc-nomenclature sc-alias="GetSpecificTargets" ng-model="item.SpecificTarget" sc-parent-id="item.InvestmentPriority.id">
                            </sc-nomenclature>
                            <input type="hidden" value="{{ item.SpecificTarget.id }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].SpecificTarget.id" />
                            <input type="hidden" value="{{ item.SpecificTarget.Name }}" name="@(Html.GetNameFor(m => m))[{{ $index }}].SpecificTarget.Name" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end style="display:none;"></tr>
        </tbody>
    </table>
    <a ng-class="{'input-validation-error': !isValid}" name="@(Html.GetNameFor(m => m))" class="add-new-btn" ng-click="addItem()">@Global.AddButton</a>
</div>
