@model R_10004.Company

<div class="table-wrapper">
    <div class="history-table">
        <eumis-company-search company="Offer.Candidate"
                       path="@(Html.GetNameFor(m => m))"
                       bg-code="@Eumis.Documents.Constants.BulgariaId"
                       resources="CompanyInfo.resourcesObjectCompany">
        </eumis-company-search>

        <div class="clearfix">
            <div class="form-group col-lg-12 col-md-12">
                <label>@Company.Name @SymbolsCount.Symbols200</label>
                <textarea symbols-count count-text="@Global.SymbolsCount" ng-class="{'input-validation-error': !Offer.Candidate.IsNameValid}" auto-grow rows="2" style="height: 60px;" ng-model="Offer.Candidate.Name" name="@(Html.GetNameFor(m => m)).Name" class="form-control"></textarea>
            </div>

            <div class="form-group col-lg-12 col-md-12">
                <label>
                    @Company.NameEN @SymbolsCount.Symbols200
                    <img class="info-icon" info-icon src="/Content/img/icons/info.png" data-placement="right" data-toggle="popover" data-content="@Company.NameENTooltip" data-trigger="hover" alt="" data-original-title="" title="">
                </label>
                <textarea sc-disabled="Offer.Candidate.CompanyLegalType.id == '@Eumis.Documents.Constants.CompanyLegalTypePhysicalGid'" symbols-count count-text="@Global.SymbolsCount" ng-class="{'input-validation-error': !Offer.Candidate.IsNameEnValid}" auto-grow rows="2" style="height: 60px;" ng-model="Offer.Candidate.NameEN" name="@(Html.GetNameFor(m => m)).NameEN" class="form-control"></textarea>
            </div>

            <div class="clearfix">
                <div class="form-group col-lg-4 col-md-6">
                    <label>@Company.CompanyType</label>
                    <sc-nomenclature ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyTypeValid}" sc-alias="GetCompanyTypes" ng-model="Offer.Candidate.CompanyType">
                    </sc-nomenclature>
                    <input ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyTypeValid}" value="{{ Offer.Candidate.CompanyType.id }}" name="@(Html.GetNameFor(m => m)).CompanyType.id" type="hidden" class="validation-error-key" />
                    <input value="{{ Offer.Candidate.CompanyType.Name }}" name="@(Html.GetNameFor(m => m)).CompanyType.Name" type="hidden" />
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label>@Company.CompanyLegalType</label>
                    <sc-nomenclature ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyLegalTypeValid}" sc-alias="GetCompanyLegalTypes" sc-parent-id="Offer.Candidate.CompanyType.id" ng-model="Offer.Candidate.CompanyLegalType">
                    </sc-nomenclature>
                    <input ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyLegalTypeValid}" value="{{ Offer.Candidate.CompanyLegalType.id }}" name="@(Html.GetNameFor(m => m)).CompanyLegalType.id" type="hidden" class="validation-error-key" />
                    <input value="{{ Offer.Candidate.CompanyLegalType.Name }}" name="@(Html.GetNameFor(m => m)).CompanyLegalType.Name" type="hidden" />
                </div>

                <div class="form-group col-lg-4 col-md-6 bootstrap-switch-form-group">
                    <input type="radio" ng-value="false" id="@(Html.GetNameFor(m => m)).country" name="@(Html.GetNameFor(m => m)).IsPrivateLegal" ng-model="Offer.Candidate.IsPrivateLegal" />
                    <label for="@(Html.GetNameFor(m => m)).country">@Company.IsCountryLegal</label>

                    <input type="radio" ng-value="true" id="@(Html.GetNameFor(m => m)).private" name="@(Html.GetNameFor(m => m)).IsPrivateLegal" ng-model="Offer.Candidate.IsPrivateLegal" />
                    <label for="@(Html.GetNameFor(m => m)).private">@Company.IsPrivateLegal</label>
                </div>
            </div>
            <div class="clearfix">
                <div class="form-group col-lg-4 col-md-6">
                    <label>@Company.CompanySizeType</label>
                    <sc-nomenclature ng-class="{'input-validation-error': !Offer.Candidate.IsCompanySizeTypeValid}" sc-alias="GetCompanySizeTypes" ng-model="Offer.Candidate.CompanySizeType">
                    </sc-nomenclature>
                    <input ng-class="{'input-validation-error': !Offer.Candidate.IsCompanySizeTypeValid}" value="{{ Offer.Candidate.CompanySizeType.id }}" name="@(Html.GetNameFor(m => m)).CompanySizeType.id" type="hidden" class="validation-error-key" />
                    <input value="{{ Offer.Candidate.CompanySizeType.Name }}" name="@(Html.GetNameFor(m => m)).CompanySizeType.Name" type="hidden" />
                </div>
            </div>
        </div>

        <h3>@Company.Seat</h3>

        <eumis-address path="@(Html.GetNameFor(m => m)).Seat"
                       bg-code="@Eumis.Documents.Constants.BulgariaId"
                       ng-model="Offer.Candidate.Seat"
                       resources="CompanyInfo.resourcesObjectCompany"
                       show-management="true">
        </eumis-address>

        <div class="form-group col-lg-12">
            <label ng-click="copyAddress(Offer.Candidate)" style="cursor:pointer; margin-bottom: 10px;"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> @Address.Copy</label>
        </div>

        <h3>@Company.Correspondence</h3>

        <eumis-address path="@(Html.GetNameFor(m => m)).Correspondence"
                       bg-code="@Eumis.Documents.Constants.BulgariaId"
                       ng-model="Offer.Candidate.Correspondence"
                       resources="CompanyInfo.resourcesObjectCompany"
                       show-management="false">
        </eumis-address>

        <div class="clearfix">
            <div class="form-group col-lg-4 col-md-6">
                <label>
                    @Company.Email
                    <img ng-if="Offer.Candidate.isCandidate" class="info-icon" info-icon src="/Content/img/icons/info.png" data-placement="right" data-toggle="popover" data-content="@Company.EmailTooltip}}" data-trigger="hover" alt="" data-original-title="" title="">
                </label>
                <input ng-if="Offer.Candidate.isCandidate" ng-class="{'input-validation-error': !Offer.Candidate.IsEmailValid}" ng-model="Offer.Candidate.Email" type="text" name="@(Html.GetNameFor(m => m)).Email" class="form-control" readonly />
                <input ng-if="!Offer.Candidate.isCandidate" ng-class="{'input-validation-error': !Offer.Candidate.IsEmailValid}" ng-model="Offer.Candidate.Email" type="text" name="@(Html.GetNameFor(m => m)).Email" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label>@Company.Phone1</label>
                <input ng-class="{'input-validation-error': !Offer.Candidate.IsPhone1Valid}" ng-model="Offer.Candidate.Phone1" type="text" name="@(Html.GetNameFor(m => m)).Phone1" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label>@Company.Phone2</label>
                <input ng-class="{'input-validation-error': !Offer.Candidate.IsPhone2Valid}" ng-model="Offer.Candidate.Phone2" type="text" name="@(Html.GetNameFor(m => m)).Phone2" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label>@Company.Fax</label>
                <input ng-class="{'input-validation-error': !Offer.Candidate.IsFaxValid}" ng-model="Offer.Candidate.Fax" type="text" name="@(Html.GetNameFor(m => m)).Fax" class="form-control" />
            </div>
            <div class="form-group col-lg-8 col-md-12">
                <label>@Company.CompanyRepresentativePerson @SymbolsCount.Symbols100</label>
                <input ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyRepresentativePersonValid}" ng-model="Offer.Candidate.CompanyRepresentativePerson" type="text" name="@(Html.GetNameFor(m => m)).CompanyRepresentativePerson" class="form-control" />
            </div>

            <div class="form-group col-lg-4 col-md-6">
                <label>@Company.CompanyContactPerson @SymbolsCount.Symbols100</label>
                <input ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyContactPersonValid}" ng-model="Offer.Candidate.CompanyContactPerson" type="text" name="@(Html.GetNameFor(m => m)).CompanyContactPerson" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label>@Company.CompanyContactPersonPhone</label>
                <input ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyContactPersonPhoneValid}" ng-model="Offer.Candidate.CompanyContactPersonPhone" type="text" name="@(Html.GetNameFor(m => m)).CompanyContactPersonPhone" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label>@Company.CompanyContactPersonEmail</label>
                <input ng-class="{'input-validation-error': !Offer.Candidate.IsCompanyContactPersonEmailValid}" ng-model="Offer.Candidate.CompanyContactPersonEmail" type="text" name="@(Html.GetNameFor(m => m)).CompanyContactPersonEmail" class="form-control" />
            </div>
        </div>
    </div>
</div>
