@model R_10045.AttachedDocumentCollection

<div class="table-wrapper" ng-controller="controllerAttachedDocuments">
    <img class="horizontal-scroll" src="@Url.Content(Links.Content.img.icons.blue_arrow_right_gif)" alt="" />
    <table class="chart-info dynamic-rows file-upload" width="100%">
        <thead>
            <tr>
                <th>@AttachedDocument.DocumentType</th>
                <th>@AttachedDocument.VersionNumber</th>
                <th>@AttachedDocument.ActivationDate</th>
                <th>@AttachedDocument.Description</th>
                <th colspan="2">@AttachedDocument.FileName</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="item in items" style="display:none;"></tr>
            <tr>
                <td style="min-width:200px;">
                    <div ng-if="isCurrentVersion(item)" style="display:block; width:100%;">
                        <sc-nomenclature ng-class="{'input-validation-error': !item.IsTypeValid}" sc-alias="GetContractReportDocumentTypes" ng-model="item.Type">
                        </sc-nomenclature>
                        <input ng-class="{'input-validation-error': !item.IsTypeValid}" type="hidden" name="@(Html.GetNameFor(m => m))[{{ $index }}].Type.id"
                               value="{{ item.Type.id }}" class="validation-error-key" />
                        <input type="hidden" name="@(Html.GetNameFor(m => m))[{{ $index }}].Type.Name"
                               value="{{ item.Type.Name }}" />
                    </div>
                    <div ng-if="!isCurrentVersion(item)" style="display:block; width:100%;">
                        <span>{{item.Type.Name}}</span>
                    </div>
                </td>
                <td style="min-width:150px;">
                    {{item.RegNumber}}
                </td>
                <td style="min-width:150px;">
                    {{item.ActivationDate}}
                </td>
                <td style="width:60%;">
                    <textarea ng-if="isCurrentVersion(item)" rows="1" style="height:29px;" auto-grow ng-class="{'input-validation-error': !item.IsDescriptionValid}" ng-model="item.Description" name="@(Html.GetNameFor(m => m))[{{ $index }}].Description" class="form-control"></textarea>
                    <span ng-if="!isCurrentVersion(item)">{{item.Description}}</span>
                </td>
                <td style="min-width:190px;">
                    <sc-file ng-if="isCurrentVersion(item)"
                             path="@(Html.GetNameFor(m => m))[{{ $index }}].AttachedDocumentContent"
                             resources="resourcesObject"
                             url="{{ url }}"
                             ng-model="item.AttachedDocumentContent">
                    </sc-file>
                    <div ng-if="!isCurrentVersion(item)
                         && item.AttachedDocumentContent
                         && item.AttachedDocumentContent.FileName
                         && item.AttachedDocumentContent.BlobContentId"
                         class="files">
                        <p>{{item.AttachedDocumentContent.FileName}}</p>
                        <a target="_blank" href="/api/@(this.ViewContext.RouteData.Values[Constants.SessionKey].ToString())/file/download/{{item.AttachedDocumentContent.BlobContentId}}" class="download-file file-btn">@Global.ButtonDownloadText</a>
                    </div>
                </td>
                <td style="min-width:102px;">
                    <a ng-if="isCurrentVersion(item) || !item.AttachedDocumentContent.BlobContentId" class="delete-btn" confirm-click="delItem(item)">@Global.DeleteButton</a>
                </td>
            </tr>
            <tr ng-repeat-end style="display:none;"></tr>
        </tbody>
    </table>
    <a ng-class="{'input-validation-error': !hasValidCount}" name="@(Html.GetNameFor(m => m))" class="add-new-btn" ng-click="addItem()">@Global.AddButton</a>
</div>
