@using Eumis.Portal.Web.Helpers
@model Eumis.Portal.Web.Models.Procurements.EditVM

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton),
    new BreadcrumbItem(Url.Action(MVC.Report.List.ActionNames.Index, MVC.Report.List.Name, new { area = MVC.Report.Name }), "Договори"),
    new BreadcrumbItem(Url.Action(MVC.Report.BFPContract.ActionNames.Index, MVC.Report.BFPContract.Name, new { area = MVC.Report.Name }), ContractMetadata.GetContractNumberHeader),
    new BreadcrumbItem(Url.Action(MVC.Report.BFPContract.ActionNames.Index, MVC.Report.BFPContract.Name, new { area = MVC.Report.Name }), "Версии на договора"),
}, "Редакция")

<div class="container page-title">
    <h1>@ContractMetadata.GetContractNumberHeader</h1>
</div>

<div class="container">

    @using (Html.BeginForm(MVC.Report.Procurements.ActionNames.Prepare,
    MVC.Report.Procurements.Name,
    new { currentStep = Model.CurrentStep },
    FormMethod.Post,
    new { id = Constants.PARTIAL_SAVE_PROCUREMENTS, role = "form", @class = "form-with-sections" }))
    {
        <div class="form-toggle">
            <button type="button" class="form-collapse" style="display: none;">
                <span class="glyphicon glyphicon-minus"></span>
                @Global.ButtonCollapseAll
            </button>
            <button type="button" class="form-expand">
                <span class="glyphicon glyphicon-plus"></span>
                @Global.ButtonExpandAll
            </button>
        </div>

        <ul class="nav nav-tabs">
            @Html.BeginActionLinkPrePostButton(
                null,
                null,
                MVC.Report.Procurements.ActionNames.Prepare,
                MVC.Report.Procurements.Name,
                routeValues:
                    new
                    {
                        step = AppStep.Prepare,
                        currentStep = AppStep.Prepare,
                    },
                htmlAttributes: new { @class = "tab active wait" },
                formId: Constants.PARTIAL_SAVE_PROCUREMENTS,
                formMethod: FormMethod.Post)
            @Global.Procurements
            @Html.EndActionLinkPrePostButton()
        </ul>
        <div class="tab-content">

            @Html.ValidationSummaryForPopover(Model.LocalValidationErrors)
            @Html.ValidationSummaryForErrors(Model.LocalValidationErrors, null, Global.ValidationSummaryTitle, Global.ValidationSummarySuccessTitle, Global.ShowErrorTitle, Global.HideErrorTitle)
            @Html.ValidationSummaryForWarnings(Model.RemoteValidationWarnings, Global.ValidationSummaryWarningsTitle, Global.ShowWarningTitle, Global.HideWarningTitle)

            @Html.EditorFor(m => m, MVC.Shared.Views.EditorTemplates.ProcurementsEdit)

            <div class="form-submit">
                <div class="save-as-draft-wrapper fixed">
                    
                    @Html.Partial(MVC.Shared.Views._SaveAsDraftPartial,
                        new Eumis.Portal.Web.Models.DownloadDraftXmlVM
                        {
                            ControllerName = MVC.Report.Procurements.Name,
                            SecondActionName = Constants.SaveDraftActionName,
                            PostActionName = MVC.Report.Procurements.ActionNames.Save,
                            HasXmlUpdate = true,
                            FORM_ID = Constants.PARTIAL_SAVE_PROCUREMENTS
                        })

                    @Html.BeginActionLinkPrePostButton(null, null,
                        MVC.Report.Procurements.ActionNames.Prepare,
                        MVC.Report.Procurements.Name,
                        routeValues: new { step = AppStep.Prepare, currentStep = AppStep.Prepare },
                        htmlAttributes: new { @class = "validate wait" },
                        formId: Constants.PARTIAL_SAVE_PROCUREMENTS,
                        formMethod: FormMethod.Post) @Global.ValidateButton
                        @Html.EndActionLinkPrePostButton()
                    </div>

                    <input type="submit" class="submit wait" name="submit" value="@Global.ButtonContinueTextUpper">
                </div>
            </div>
            <script type="text/javascript">
            $('#@(Constants.PARTIAL_SAVE_PROCUREMENTS)').submit(function (event) {
                PARTIAL_SAVE_SECTIONS(function () {
                    $.submitPage('@(Url.Action(MVC.Report.Procurements.ActionNames.Prepare, MVC.Report.Procurements.Name, new { currentStep = Model.CurrentStep }))',
                        'post', '@(Constants.PARTIAL_SAVE_PROCUREMENTS)', undefined, undefined, undefined, true);
                }, this);
                return false;
            });
            </script>
    }
</div>
