@using Eumis.Portal.Web.Helpers
@model R_10040.BFPContract

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton),
    new BreadcrumbItem(Url.Action(MVC.Report.List.ActionNames.Index, MVC.Report.List.Name, new { area = MVC.Report.Name }), "Договори"),
    new BreadcrumbItem(Url.Action(MVC.Report.BFPContract.ActionNames.Index, MVC.Report.BFPContract.Name, new { area = MVC.Report.Name }), ContractMetadata.GetContractNumberHeader),
    new BreadcrumbItem(Url.Action(MVC.Report.BFPContract.ActionNames.Index, MVC.Report.BFPContract.Name, new { area = MVC.Report.Name }), "Версии на договора"),
}, "Преглед")

<div class="container page-title">
    <h1>@ContractMetadata.GetContractNumberHeader</h1>
</div>

<div class="container">
    <form>
        @Html.Partial(MVC.Shared.Views._ExpandCollapseWithEcoPartial)
        <ul class="nav nav-tabs">
            @Html.ActionLink(Global.Print, MVC.Report.BFPContract.ActionNames.Print, MVC.Report.BFPContract.Name, null, new { @class = "top-print-btn", target = "_blank" })
        </ul>
    </form>
    <div class="tab-content">
        <form class="form-with-sections">
            
            @Html.DisplayFor(m => m)

        </form>
    </div>
</div>
