@model R_10019.ElectronicDeclarations

@if (Model != null)
{
    <div class="table-wrapper">
        <img class="horizontal-scroll" src="@Url.Content(Links.Content.img.icons.blue_arrow_right_gif)" alt="" />
        <table class="chart-info dynamic-rows file-upload" width="100%">
            <thead>
                <tr>
                    <th style="width:20%;">@ElectronicDeclaration.Name</th>
                    <th style="width:55%;">@ElectronicDeclaration.Content</th>
                    <th style="width:5%;">@ElectronicDeclaration.IsRequired</th>
                    <th style="width:20%;">@ElectronicDeclaration.Approval</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ElectronicDeclarationCollection != null && Model.ElectronicDeclarationCollection.Count > 0)
                {
                    for (int i = 0; i < Model.ElectronicDeclarationCollection.Count; i++)
                    {
                        @Html.DisplayFor(m => m.ElectronicDeclarationCollection[i], MVC.Shared.Views.DisplayTemplates.ElectronicDeclaration)
                    }
                }
            </tbody>
        </table>
    </div>
}
