@model R_10045.PaymentRequest

@if (Model != null)
{
    int sectionNumber = 1;
    <h2 data-section="@sectionNumber" class="section-heading">
        <img class="arrow" src="@Url.Content(Links.Content.img.icons.blue_arrow_right_gif)" alt="">
        @sectionNumber. @PaymentRequest.BasicData
    </h2>
    <section data-section="@sectionNumber" class="clearfix">
        <div class="table-wrapper">
            <div class="history-table">
                @Html.DisplayFor(m => m.BasicData)
            </div>
        </div>
    </section>
    <div class="section-separator"> </div>

    sectionNumber++;
    <h2 data-section="@sectionNumber" class="section-heading">
        <img class="arrow" src="@Url.Content(Links.Content.img.icons.blue_arrow_right_gif)" alt="">
        @sectionNumber. @PaymentRequest.AttachedDocuments
    </h2>
    <section data-section="@sectionNumber" class="clearfix">
        @Html.DisplayFor(m => m.AttachedDocuments)
    </section>

    @Html.DisplayFor(m => m.Signature)
}