@using Eumis.Public.Web.InfrastructureClasses
@using Eumis.Public.Web.Models.Admin
@using PagedList
@using PagedList.Mvc;

@model ProgrammesProceduresStatisticsVM

@{ 
    string headerText = Model.IsProgrammeChosen ? Texts.Admin_ProceduresStatisticsProgramme + " " + Model.TransProgrammeName : Texts.Admin_ProceduresStatistics;
}

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), Texts.Global_Home),
    new BreadcrumbItem(Url.Action(MVC.Admin.ActionNames.Index, MVC.Admin.Name), Texts.Global_AdministrativeEnquiries),
    new BreadcrumbItem(Url.Action(MVC.Admin.ActionNames.OPStatistics, MVC.Admin.Name, new { programmeId = Request.QueryString["programmeId"], showRes = true }), Texts.Admin_OPStatistics)
}, Texts.Admin_ProceduresStatistics)

<div class="container">

    <div class="page-title">
        @*<h1>@headerText</h1>*@
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="project-info-box">
                    <div class="head green">
                        <h2>@headerText</h2>
                    </div>
                    <div class="content">
                        @foreach (var procedure in Model.PageProcedures)
                        {
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-sm-10">
                                        @Html.ActionLink(procedure.TransName, MVC.AdminProcedure.ActionNames.ProcedureProjects, MVC.AdminProcedure.Name, new { programmeId = Request.QueryString["programmeId"], procedureId = Eumis.Public.Common.Crypto.ConfigurationBasedStringEncrypter.Encrypt(procedure.ProcedureId.ToString()) }, null)
                                    </div>
                                    <div class="col-sm-2 text-right" style="font-weight:bold;">
                                        @Html.DisplayFor(m => procedure.ProjectCount)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                
                @if (Model.PageProcedures != null && Model.PageProcedures.PageCount > 1)
                {
                    <div class="paging clearfix">
                        <span>@Texts.Global_Page (@Model.PageProcedures.PageNumber/@Model.PageProcedures.PageCount):</span>
                        @Html.PagedListPager(Model.PageProcedures,
                            page => Url.Action(MVC.Admin.ActionNames.ProgrammeProjectsCount, MVC.Admin.Name
                                , new
                                {
                                    programmeId = Request.QueryString["programmeId"],
                                    page = Eumis.Public.Common.Crypto.ConfigurationBasedStringEncrypter.Encrypt(page.ToString())
                                })
                                , new PagedListRenderOptions
                                {
                                    Display = PagedListDisplayMode.IfNeeded,
                                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                    LinkToNextPageFormat = ">",
                                    LinkToPreviousPageFormat = "<"
                                })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
