@model R_10023.EvalTableGroupCollection

@if (Model != null)
{
    <div>
        <table class="evaluation">
            @for (int i = 0; i < Model.Count; i++)
            {
                <thead>
                    <tr>
                        <th class="text-center" style="width:5%;">@(Eumis.Common.Helpers.DataUtils.Romanize(i + 1)).</th>
                        <th style="width:95%;" colspan="3">@EvalTable.Group</th>
                    </tr>
                </thead>

                <tr>
                    <td></td>
                    <td colspan="3">
                        <strong>@Html.Partial(MVC.Shared.Views.Print.TextAreaPre, Model[i].Name)</strong>
                    </td>
                </tr>
                if (Model[i].EvalTableCriteriaCollection != null && Model[i].EvalTableCriteriaCollection.Count > 0)
                {
                    <tr style="font-weight: bold;" class="column-headings">
                        <td style="width:5%; border-bottom: none;"></td>
                        <td style="width:5%;"></td>
                        <td style="width:70%;">@EvalTable.Criteria</td>
                        <td style="width:20%;">@EvalTable.Rejection</td>
                    </tr>
                    for (int j = 0; j < Model[i].EvalTableCriteriaCollection.Count; j++)
                    {
                        <tr>
                            @if (j > 0)
                            {
                                <td style="border-bottom: none; border-top: none;"></td>
                            }
                            else
                            {
                                <td style="border-bottom: none;"></td>
                            }
                            
                            <td class="text-right">@(j + 1).</td>
                            <td>
                                <pre>@Model[i].EvalTableCriteriaCollection[j].Name</pre>
                            </td>
                            <td>
                                @if (Model[i].EvalTableCriteriaCollection[j].IsRejection)
                                {
                                    <text>@Global.Yes</text>
                                }
                                else
                                {
                                    <text>@Global.No</text>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
}

