@{ Layout = "layout.cshtml"; }
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Eumis.Web.Host.Nancy.Models.GDPRDeclarationModel>
@using Eumis.Web.Host.Nancy

@section Styles
{
  <style type="text/css">
    div.content-wrapper.document-wrapper
    {
        padding: 0px 40px 40px 40px;
    }

    div.content-wrapper.document-wrapper h2
    {
        font-size: 20px;
        font-weight: 700;
        margin: 40px 0px 20px 0px;
        line-height: 1em;
        text-align: center;
    }

    div.content-wrapper.document-wrapper h3
    {
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0px 20px 0px;
        line-height: 1em;
        text-align: center;
    }

    div.content-wrapper.document-wrapper form
    {
      margin-top: 50px;
    }

    div.content-wrapper.document-wrapper .checkbox > label > span
    {
        font-weight: 500;
        vertical-align: middle;
    }
  </style>
}

@section Header
{
  <div class="bg_header header-with-shadow">
    <div class="container">
      <header>
        <a class="logo">СУНИ</a>
      </header>
    </div>
  </div>
}

<div class="container">
    <div class="content-wrapper document-wrapper">
        <h2>ЗАЩИТА НА ЛИЧНИТЕ ДАННИ</h2>

        <h3>Политика за поверителността във връзка със Системата за управление на националните инвестиции (СУНИ)</h3>

        <p>
            Съгласно националното законодателство, достъпът до Системата за управление на националните инвестиции (СУНИ) се извършва посредством уникални персонализирани профили за достъп. С цел създаване на профилите и необходимостта от недвусмислено идентифициране на субектите, извършващи действия в СУНИ, събираме лични данни на потребителите на системата.
        </p>

        <p>
            При отказ за предоставяне на съгласие за обработка на лични данни на потребители, от страна на АМС няма да бъде създаден профил за достъп до СУНИ или достъпът до системата от създадения вече профил ще бъде преустановен.
        </p>

        <p>
            При извънредни обстоятелства, можем да извършим преглед на личните данни, които се съхраняват в нашата система, за целите на нормативното съответствие и защитата на нормативно регулираната дейност.
        </p>

        <p>
            При извънредни обстоятелства, е възможно да се предоставят лични данни:
        </p>

        <ul>
            <li>на компетентни публични органи в производства пред тях</li>
            <li>на друго лице, когато се изисква от нас по закон</li>
        </ul>

        <p>
            Личните данни следва се съхраняват за период, не по-дълъг от нормативно определения. При извънредни обстоятелства, ако това се изисква по съответния нормативен ред, е възможно личните данни в системата да бъдат съхранени и за по-дълъг период.
        </p>

        <p>С оглед осигуряване на адекватна защита на събираните и съхраняваните лични данни са предприети следните мерки:</p>

        <ul>
            <li>подходящи технически и организационни мерки, за да се гарантира изпълнението на изискванията на законодателството за защита на личните данни</li>
            <li>обработването на личните данни е сведено до минимума, необходим за постигане на съответните цели</li>
            <li>своевременно възстановяване на наличността и достъпа до личните данни, в случай на физически или технически инцидент</li>
        </ul>

        <h2>СЪГЛАСИЕ ЗА ОБРАБОТВАНЕ НА ЛИЧНИ ДАННИ ОТ СУБЕКТ НА ЛИЧНИ ДАННИ</h2>

        <p>Аз, <i>@Model.Fullname</i>, с потребителско име в Системата за управление на националните инвестиции (СУНИ) <i>@Model.Username</i>, електронна поща <i>@Model.Email</i></p>

        <p>удостоверявам изричното си съгласие Администрацията на Министерския съвет да обработва личните ми данни за целите на достъп до СУНИ.</p>

        <p>Запознат съм, че в качеството си на субект на лични данни и във връзка с даденото от мен съгласие за тяхното обработване, имам следните права:</p>

        <ul>
            <li>Право на достъп до личните си данни и правото да получа следната информация: за каква цел се обработват данни, какви лични данни, получателите на данни, срокът на обработването им.</li>
            <li>Право да поискам коригиране на личните си данни, които са неточни/неактуални, както и че имам правото да подам жалба пред надзорния орган в случай на отказ от страна на администратора за коригиране на данните</li>
            <li>
                Право да поискам от администратора да ограничи обработването на личните ми данни в случаите когато:
                <ul>
                    <li>личните ми данни не са точни, като в този случай ограничаването е за срок, в който администраторът да провери точността на личните данни</li>
                    <li>обработването на личните ми данни е неправомерно, но не желая същите да бъдат изтрити, а само да бъде ограничено използването им</li>
                    <li>администраторът не се нуждае повече от личните данни за целите на обработването, но данните са необходими за установяването, упражняването или защитата на правни претенции</li>
                    <li>съм възразил срещу обработването в очакване на проверка дали законните основания на администратора имат преимущество пред интересите ми като субект на данни</li>
                </ul>
            </li>
            <li>Право да поискам личните ми данни да бъдат изтрити без ненужно забавяне (администраторът да заличи личните данни от всички системи и записи, където те се съхраняват, включително да уведоми всички трети лица/обработващи лични данни, на които е предоставил данните)</li>
            <li>Право да възразя пред администратора срещу обработването на личните ми данни по всяко време, като посоча основанията за това</li>
            <li>Право да подам жалба срещу обработването на личните ми данни или неспазване на правата ми във връзка със защитата на лични данни пред компетентния надзорен орган - Комисия за защита на личните данни</li>
            <li>Да бъда уведомен, когато има риск за нарушение сигурността на личните ми данни, като администраторът следва да ме уведоми за естеството на нарушението и какви мерки са предприети за отстраняването му, както и дали е уведомил надзорния орган за нарушението</li>
            <li>Право на защита по съдебен или административен ред, в случай че правата ми във връзка с личните данни са били нарушени</li>
            <li>Право да оттегля съгласието си за обработване на лични данни частично или изцяло по всяко време, за което ще уведомя администратора</li>
        </ul>

        @if (!Model.IsViewOnly)
        {
            <form name="gdprForm" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="acceptCheckbox" name="accepted" value="true">
                            <span>@RazorViewTexts.GDPRDeclaration_Accept</span>
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="continueBtn" disabled="disabled">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span>@RazorViewTexts.GDPRDeclaration_Continue</span>
                </button>
            </form>
        }
    </div>
</div>

<script type="text/javascript">
  var acceptCheckbox = document.getElementById('acceptCheckbox');
  var continueBtn = document.getElementById('continueBtn');
  acceptCheckbox.onchange = function () {
    continueBtn.disabled = !this.checked;
  };
</script>
