@{ Layout = "layout.cshtml"; }
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Eumis.Web.Host.Nancy.Models.NewPasswordModel>
@using Eumis.Web.Host.Nancy

@section Styles
{
  <style type="text/css">
    .forgotten-pass
    {
        max-width: 500px;
        padding: 15px;
        margin: 0 auto;
    }
  </style>
}

@section Header
{
  <div class="bg_header header-with-shadow">
    <div class="container">
      <header>
        <a class="logo" href="/login">@RazorViewTexts.NewPassword_Umis2020</a>
      </header>
    </div>
  </div>
}

<div class="container">
  <div class="content-wrapper">
    @if (@ViewBag.PasswordSet && !string.IsNullOrEmpty(@Model.Username))
    {
      <h2 style="text-align: center;">@(string.Format(@RazorViewTexts.NewPassword_SuccessfullyEnteredUserPassword, @Model.Username))</h2>

      <div class="forgotten-pass">
        <a class="btn btn-primary" href="/login">
          <span class="glyphicon glyphicon-log-in"></span>
          <span>@RazorViewTexts.NewPassword_Enter</span>
        </a>
      </div>
    }
    else if(!string.IsNullOrEmpty(@Model.Username) && !string.IsNullOrEmpty(@Model.Code))
    {
      <h2 style="text-align: center;">@(string.Format(@RazorViewTexts.NewPassword_NewUserPassword, @Model.Username))</h2>
      
      <form class="forgotten-pass" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="username" value="@Model.Username">
        <input type="hidden" name="code" value="@Model.Code">
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="password1" class="control-label">@RazorViewTexts.NewPassword_Password</label>
            <input type="password" class="form-control" name="password1" value="@Model.Password1">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="password2" class="control-label">@RazorViewTexts.NewPassword_RepeatPassword</label>
            <input type="password" class="form-control" name="password2" value="@Model.Password2">
          </div>
        </div>
        @if (@ViewBag.Error.HasValue)
        {
          <div class="row">
            <div class="form-group col-sm-12 has-error">
              @switch ((int)@ViewBag.Error.Value)
              {
                case (int)Eumis.Web.Host.Nancy.Models.NewPasswordError.PasswordMismatch:
                  <label class="control-label">@RazorViewTexts.NewPassword_PasswordsDoNotMatch</label>
                  break;
                case (int)Eumis.Web.Host.Nancy.Models.NewPasswordError.MissingRequired:
                  <label class="control-label">@RazorViewTexts.NewPassword_YouDidNotFillPasswordFields</label>
                  break;
                case (int)Eumis.Web.Host.Nancy.Models.NewPasswordError.PasswordInvalidFormat:
                  <label class="control-label">@(Model.IsBgVersion ? @ViewBag.PasswordInvalidFormatMessage : @ViewBag.PasswordInvalidFormatMessageEn)</label>
                  break;
              }
            </div>
          </div>
        }
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-log-in"></span>
          <span>@RazorViewTexts.NewPassword_Change</span>
        </button>
      </form>
    }
    else
    {
      <h2 style="text-align: center;">@RazorViewTexts.NewPassword_OpenHyperlinkFromReceivedMailAgain</h2>
    }
  </div>
</div>
