@using Eumis.Portal.Web.Helpers
@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton)
}
    , Global.BreadcrumbsHelp)
<div class="container page-title">
    <h1>@Help.Header</h1>
</div>

<!-- HELP PAGE -->
<div class="container">
    <div class="page-content help-page clearfix form-with-sections text-justify">
        <div class="col-xs-12">
            <p style="font-size:28px;"><strong>СУНИ</strong></p>
            <p style="font-size:20px;"><strong>СИСТЕМА ЗА УПРАВЛЕНИЕ НА НАЦИОНАЛНИТЕ ИНВЕСТИЦИИ</strong></p>

            <h3>Модул за електронно управление на проекти и отчитане</h3>
            <p>
                С помощта на модула имате възможност да управлявате договорите си
                , да се отчитате електронно и да осъществите комуникация с отговорната организация.
                За информация как става това, вижте раздел <a href="@Url.Action(MVC.Report.Home.ActionNames.Manual, MVC.Report.Home.Name, new { area = MVC.Report.Name })">"Ръководство за работа със системата"</a>, както и разделите по-долу.
            </p>

            <h3>Потребители и потребителски профили</h3>
            <p>Логически потребителите на системата могат да са два вида:</p>
            <ul>
                <li>Ръководител проект и</li>
                <li>Експерт, подпомагащ Ръководител проект,</li>
            </ul>
            <p>Тези видове потребители достъпват профилите си по два различни начина:</p>
            <ul>
                <li>чрез достъп с парола и</li>
                <li>чрез достъп с код.</li>
            </ul>

            <h3>Ръководител проект</h3>
            <p>Ръководителя проект е лице, упълномощено от бенефициента при изпълнението на проекта да комуникира от негово име с отговорната организация и да управлява договора, включително и да изпраща всички отчетни документи и искания за плащания.</p>
            <p>Профила на Ръководителя проект се създава и управлява от съответната отговорна организация, с която сключен договорът. Достъпът се осъществява чрез потребителско име (имейл адрес) и парола, избрана от самия потребител. Всеки Ръководител проект може да има и управлява в профила си повече от един проект.</p>
            <p>Ако имате сключен договор, а все още нямате създаден профил, моля да се обърнете към съответната отговорна организация, по която е Вашия проект.</p>

            <h3>Експерт, подпомагащ Ръководител проект</h3>
            <p>Този потребител е лице, което има права за писане и/или четене по различни отчетни документи на проекта. Правата на този вид потребител се създават и управляват от Ръководителя проект. Правата могат да са съответно само за четене или и за четене, и за редактиране на ниво отчетен документ (технически отчет, финансов отчет, искане за плащане и т.н.). Достъпът се осъществява с помощта на потребителско име (имейл адрес), номер на договор и код за достъп. Профилът с код за достъп е предназначен само за един договор, т.е. ако сте експерт, подпомагащ Ръководител проект и работите по 2 различни договора, ще влизате в системата с два различни кода за достъп.</p>
            <p>За повече информация относно видовете потребители, управлението им и принципа на работа, вижте раздел <a href="@Url.Action(MVC.Report.Home.ActionNames.Manual, MVC.Report.Home.Name, new { area = MVC.Report.Name })">"Ръководство за работа със системата"</a>, както и разделите по-долу.</p>

            <h3>Договори</h3>
            <p><b>Ако сте потребител с роля Ръководител проект</b>, от менюто договори може да достъпите съответния договор. Ако имате повече от един проект, системата Ви дава възможност да изберете желания договор, а ако имате само един проект, системата директно Ви отваря договорът.</p>
            <p>От това меню имате пълен достъп до договора, всички негови редакции, възможност за въвеждане на данни в отчетните документи, преглед и одобрение на данни, въведени от Ваш експерт, подпомагащ дейността Ви (достъп с код), имате възможност да изпратите пакет отчетни документи, както и да осъществите електронна кореспонденция с отговорната организация.</p>
            <p><b>Ако сте Експерт, подпомагащ Ръководител проект</b>, според правата Ви, зададени от Ръководителя проект, имате възможност да виждате или да не виждате договора и всички  негови редакции, както и осъществената по проекта кореспонденция. Също така според тези права имате възможност да виждате, въвеждате и редактирате различни отчетни документи (технически отчет, финансов отчет, искане за плащане и др.). Нямате възможност да изпращате пакет отчетни документи и да осъществявате кореспонденция по проекта, тези функции са достъпни и се изпълняват единствено от Ръководителя на проекта.</p>
            <p>За повече информация относно видовете потребители, информация за договорите, управлението им и отчитането на резултатите, вижте раздел <a href="@Url.Action(MVC.Report.Home.ActionNames.Manual, MVC.Report.Home.Name, new { area = MVC.Report.Name })">"Ръководство за работа със системата"</a>, както и другите раздели от настоящия документ.</p>

            <h3>Въвеждане на данни и изпращане на пакет отчетни документи</h3>
            <p><b>Ако сте потребител с роля Ръководител проект</b>, от менюто договори, подменю „Отчетни документи“ имате възможност да създавате нов пакет отчетни документи, да въвеждате данни по различните документи, да преглеждате данни, въведени от потребителите с роля Експерт, подпомагащ Ръководител проект, да осъществявате електронна комуникация, както и накрая да изпращате финализирания пакет отчетни документи.</p>
            <p><b>Ако сте Експерт, подпомагащ Ръководител проект</b>, според правата Ви, зададени от Ръководителя проект, имате възможност да виждате или да не виждате различни отчетни документи, също така според правата Ви имате възможност да въвеждате и редактирате данни по различни отчетни документи. Нямате възможност да изпращате пакет отчетни документи към отговорната организация, тази функция се изпълнява единствено от потребителя с роля Ръководител проект.</p>

            <h3>Кореспонденция с отговорна организация</h3>
            <p><b>Ако сте потребител с роля Ръководител проект</b>, от менюто договори, подменю „Кореспонденция“ имате възможност да създавате ново съобщение към отговорната организация, да го запишете в чернова и да го изпратите веднага след създаването и запазването му или в по-късен момент. Също така имате възможност да виждате изпратените от отговорната организация съобщения към Вас, да им отговаряте, както и да преглеждате цялата история на кореспонденцията (входяща/изходяща), подредена в хронологичен ред.</p>
            <p><b>Ако сте Експерт, подпомагащ Ръководител проект</b>, според правата Ви, зададени от Ръководителя проект, имате възможност да виждате или да не виждате менюто „Кореспонденция“, както и да преглеждате цялата история на кореспонденцията (входяща/изходяща), подредена в хронологичен ред.</p>

            <h3>Управление на потребители с роля Експерт, подпомагащ Ръководител проект</h3>
            <p>Менюто „Управление на потребители“ е достъпно само за потребители с роля Ръководител проект. От тук Ръководителя на проекта има възможност да създава нови потребители с достъп с код, както и да задава съответните им права до различните функционалности на системата и документи в нея.</p>
            <p>За повече информация относно видовете потребители, информация за договорите, управлението им и отчитането на резултатите, вижте раздел <a href="@Url.Action(MVC.Report.Home.ActionNames.Manual, MVC.Report.Home.Name, new { area = MVC.Report.Name })">"Ръководство за работа със системата"</a>, както и другите раздели от настоящия документ.</p>

            <h3 style="color:#FF0000">При използването на системата обърнете внимание на няколко важни неща</h3>
            <ul style="font-weight: bold;">
                <li>Използвайте своя собствен профил и не го предоставяйте на други потребители;</li>
                <li>По време на редакция на формуляр периодично записвайте своите промени;</li>
            </ul>

            <h3>Технически изисквания</h3>
            <p>За правилната работа на системата е необходимо в браузъра да е разрешено изпълнението на JavaScript. За подробности относно включването и изключването на тази функционалност вижте потребителската документация на използвания от Вас браузър.</p>
            <p>Системата е разработена и тествана за работа със следните видове браузъри:</p>
            <ul class="browsers">
                <li><a target="_blank" title="Internet Explorer" href="http://windows.microsoft.com/bg-bg/internet-explorer/ie-9-worldwide-languages"><img src="@Links.Content.img.icons.browsers.ie_jpg" alt="" />Microsoft Internet Explorer 9 или по-нов;</a></li>
                <li><a target="_blank" title="Mozilla Firefox" href="http://www.mozilla.org/bg/firefox/new/"><img src="@Links.Content.img.icons.browsers.firefox_jpg" alt="" />Mozilla Firefox 15 или по-нов;</a></li>
                <li><a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/"><img src="@Links.Content.img.icons.browsers.chrome_jpg" alt="" />Google Chrome 25 или по-нов;</a></li>
                <li><a target="_blank" title="Safari" href="https://www.apple.com/safari/"><img src="@Links.Content.img.icons.browsers.safari_jpg" alt="" />Safari 7 или по-нов;</a></li>
                <li><a target="_blank" title="Opera" href="http://www.opera.com/bg/computer/windows"><img src="@Links.Content.img.icons.browsers.opera_jpg" alt="" />Opera 15 или по-нов;</a></li>
            </ul>
            <p>В момента по наши наблюдения от проведените тестове, системата работи най-добре и бързо с браузъра  <a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/">Google Chrome</a>.</p>
            <p>Препоръката ни е винаги да се стремите да използвате съвременни и по-мощни компютри, както и винаги да работите с последна актуална версия на използвания от Вас браузър.</p>
            <p>За повече информация вижте раздела по-долу "<a href="#q-a">Въпроси и отговори</a>"</p>

            <h2 id="q-a">ВЪПРОСИ И ОТГОВОРИ</h2>
            <div class="help-questions">
                <h3 data-section="3" class="section-heading">
                    <img class="arrow" src="@Links.Content.img.icons.blue_arrow_right_gif" alt="">
                    Технически въпроси
                </h3>
                <section data-section="3" class="clearfix">
                    <h4 data-section="3-1" class="section-heading">
                        <img class="arrow" src="@Links.Content.img.icons.blue_arrow_right_gif" alt="">
                        Защо някои функционалности в системата не работят?
                    </h4>
                    <section data-section="3-1" class="clearfix">
                        <p>За правилната работа на системата е необходимо в браузъра да е разрешено изпълнението на JavaScript. За подробности относно включването и изключването на тази функционалност вижте потребителската документация на използвания от Вас браузър.</p>
                    </section>

                    <h4 data-section="3-2" class="section-heading" id="slow">
                        <img class="arrow" src="@Links.Content.img.icons.blue_arrow_right_gif" alt="">
                        Защо при проверка системата работи бавно?
                    </h4>
                    <section data-section="3-2" class="clearfix">
                        <p>По същество системата е доста сложна и повечето от записите, структурата и данните в документите са динамични. Освен това съществуват множество зависимости между отделните секции и стойности в полетата, създадени с цел да се сведе до минимум възможността от пропуск или въвеждане на грешна стойност. Системата има функция за проверка, достъпна от менюто долу „Провери документа за грешка“. Изборът на тази команда, както и изпълнението й изискват време и компютърен ресурс. Възможно е да се появи системно съобщение от самия браузър, че сървърът не отговаря или системата да Ви изглежда като „заспала“. Това се дължи на обстоятелството, че операциите, които трябва да се извършат са много, а тези, свързани с финансовата част на документите са и доста сложни.</p>
                        <p>Във връзка с това препоръката ни е винаги да се стремите да използвате съвременни и по-мощни компютри, както и винаги да работите с последна актуална версия на използвания от Вас браузър.</p>
                    </section>

                    <h4 data-section="3-3" class="section-heading">
                        <img class="arrow" src="@Links.Content.img.icons.blue_arrow_right_gif" alt="">
                        Кой браузър да използвам, за да работя със системата?
                    </h4>
                    <section data-section="3-3" class="clearfix">
                        <p>Системата е разработена и тествана за работа със следните видове браузъри:</p>
                        <ul class="browsers">
                            <li><a target="_blank" title="Internet Explorer" href="http://windows.microsoft.com/bg-bg/internet-explorer/ie-9-worldwide-languages"><img src="@Links.Content.img.icons.browsers.ie_jpg" alt="" />Microsoft Internet Explorer 9 или по-нов;</a></li>
                            <li><a target="_blank" title="Mozilla Firefox" href="http://www.mozilla.org/bg/firefox/new/"><img src="@Links.Content.img.icons.browsers.firefox_jpg" alt="" />Mozilla Firefox 15 или по-нов;</a></li>
                            <li><a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/"><img src="@Links.Content.img.icons.browsers.chrome_jpg" alt="" />Google Chrome 25 или по-нов;</a></li>
                            <li><a target="_blank" title="Safari" href="https://www.apple.com/safari/"><img src="@Links.Content.img.icons.browsers.safari_jpg" alt="" />Safari 7 или по-нов;</a></li>
                            <li><a target="_blank" title="Opera" href="http://www.opera.com/bg/computer/windows"><img src="@Links.Content.img.icons.browsers.opera_jpg" alt="" />Opera 15 или по-нов;</a></li>
                        </ul>
                        <p>В момента по наши наблюдения от проведените тестове, системата работи най-добре и бързо с браузъра <a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/">Google Chrome</a>.</p>
                        <p>Препоръката ни е винаги да се стремите да използвате съвременни и по-мощни компютри, както и винаги да работите с последна актуална версия на използвания от Вас браузър.</p>
                        <p>За повече подробности вижте: <a class="work-slow-section-link" href="#slow">Защо при проверка системата работи бавно?</a></p>
                    </section>
                </section>
            </div>

        </div>
    </div>
</div>

<!-- SCRIPTS FOR HELP PAGE: -->
<!-- lightbox init: -->
<script>
    $(function () {
        $('.gallery a').lightbox();

        $('.work-slow-section-link').click(function () {
            var section = $(this).parents('section[data-section]');
            $('h4.section-heading[data-section="' + section.attr('data-section') + '"]').click();

            var heading = $('h4.section-heading#slow');
            if (!heading.hasClass("opened"))
                heading.click();
        });
    });
</script>
