@using Eumis.Portal.Web.Helpers;
@using PagedList.Mvc;

@model Eumis.Portal.Web.Models.Offers.DraftsVM

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Default.ActionNames.Index, MVC.Default.Name), Global.HomeButton),
    new BreadcrumbItem(Url.Action(MVC.Offers.ActionNames.Index, MVC.Offers.Name), Global.BreadcrumbsOffers)
}, Offers.DraftOffers)

<div class="container page-title">
    <h1>@Offers.DraftOffers</h1>
</div>

<!-- PAGE CONTENT -->
<div class="container">
    @Html.Partial(MVC.Offers.Views._NavTabs, MVC.Offers.Views.Drafts)
    <div class="tab-content">
        <div class="tab-pane active">
            @using (Html.BeginForm(MVC.Offers.ActionNames.Drafts,
                MVC.Offers.Name,
                FormMethod.Get,
                new { role = "form", @class = "form-with-sections" }))
            {
                <div class="row">
                    <div class="form-group col-xs-3">
                        <label>@Offers.DifferentiatedPosition</label>
                        @Html.TextBoxFor(m => m.DpName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-xs-3">
                        <label>@Offers.ProcurementSubject</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-xs-3">
                        <label>@Offers.Beneficiary</label>
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-xs-3">
                        <input type="submit" class="submit wait" value="@Global.ButtonSearchText">
                    </div>
                </div>
            }
            <div class="table-wrapper">
                @if (Model.SearchItems != null && Model.SearchItems.Count > 0)
                {
                    <table class="chart-info dynamic-rows" width="100%">
                        <thead>
                            <tr>
                                <th style="width: 15%">@Offers.SubmissionDate</th>
                                <th style="width: 25%">@Offers.DifferentiatedPosition</th>
                                <th style="width: 25%">@Offers.ProcurementSubject</th>
                                <th style="width: 20%">@Offers.Beneficiary</th>
                                <th style="width: 15%">@Global.Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var offer in Model.SearchItems)
                            {
                                <tr>
                                    <td>
                                        @Eumis.Common.Helpers.Helper.DateTimeFormatWithoutSeconds(offer.OfferSubmitDate)
                                    </td>
                                    <td>
                                        @offer.DpName
                                    </td>
                                    <td>
                                        @offer.Name
                                    </td>
                                    <td>
                                        @offer.CompanyName
                                    </td>
                                    <td>
                                        <a href="@Url.Action(MVC.Offer.Edit(offer.OfferGid.Value))" class="edit-btn wait">@Global.Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="info-block">
                        <p>@Offers.NoOffersFound</p>
                    </div>
                }
            </div>

            @Html.PagedListPager(Model.SearchItems,
                page => Url.Action(MVC.Offers.Drafts(
                    Model.DpName,
                    Model.Name,
                    Model.CompanyName,
                    page)),
                Constants.PagedListRenderOptions)
        </div>
    </div>
</div>
