@using Eumis.Portal.Web.Helpers
@model R_10020.Message

<!-- PAGE TITLE ELEMENT -->
<div class="container page-title">
    <h1>@ProjectCommunicationAnswer.AnswerEditBreadcrumb</h1>
</div>

<div class="container">

    <form>
        <div class="form-toggle">
            <img src="@Links.Content.img.icons.eco_tree_png" data-placement="right" data-toggle="popover" data-content="@Global.EcoNotification" data-trigger="hover" class="info-icon" style="padding-top:5px;height: 33px; margin-right:5px; margin-left:-5px;" />
        </div>

        <ul class="nav nav-tabs">
            @Html.ActionLink(ProjectCommunicationAnswer.Answer, MVC.Private.ProjectCommunicationAnswer.ActionNames.Prepare, MVC.Private.ProjectCommunicationAnswer.Name, new { area = MVC.Private.Name }, new { @class = "tab wait" })
            @Html.ActionLink(Global.ButtonPreviewText, MVC.Private.ProjectCommunicationAnswer.ActionNames.Display, MVC.Private.ProjectCommunicationAnswer.Name, new { area = MVC.Private.Name }, new { @class = "tab active" })

            @Html.ActionLink(Global.Print, MVC.Private.ProjectCommunicationAnswer.ActionNames.Print, MVC.Private.ProjectCommunicationAnswer.Name, null, new { @class = "top-print-btn", target = "_blank" })
        </ul>
    </form>

    <div class="tab-content">
        <form class="form-with-sections">

            @Html.ValidationSummaryForErrorsWithBackButton(Model.LocalValidationErrors, null, Global.ValidationSummaryTitle,
                             Url.Action(MVC.Private.ProjectCommunicationAnswer.ActionNames.Prepare, MVC.Private.ProjectCommunicationAnswer.Name), Global.ValidationSummaryLinkTitle)
            @Html.ValidationSummaryForWarningsWithBackButton(null, Global.ValidationSummaryWarningsTitle,
                             Url.Action(MVC.Private.ProjectCommunicationAnswer.ActionNames.Prepare, MVC.Private.ProjectCommunicationAnswer.Name), Global.ValidationSummaryWarningLinkTitle)

            @Html.DisplayFor(m => m, MVC.Shared.Views.DisplayTemplates.ProjectCommunicationAnswer)


            <div class="form-submit">
                @Html.ActionLink(Global.BackButton, MVC.Private.ProjectCommunicationAnswer.ActionNames.Prepare, MVC.Private.ProjectCommunicationAnswer.Name, null, new { @class = "blue-button small back left" })

                @Html.ActionLink(ProjectCommunicationAnswer.Send, MVC.Private.ProjectCommunicationAnswer.ActionNames.Submit, MVC.Private.ProjectCommunicationAnswer.Name, null, new { @class = "blue-button wait" })
            </div>
        </form>
    </div>
</div>
