@model R_10043.FinanceReport
@using Eumis.Portal.Web.Helpers

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton),
    new BreadcrumbItem(Url.Action(MVC.Report.List.ActionNames.Index, MVC.Report.List.Name, new { area = MVC.Report.Name }), "Договори"),
    new BreadcrumbItem(Url.Action(MVC.Report.BFPContract.ActionNames.Index, MVC.Report.BFPContract.Name, new { area = MVC.Report.Name }), ContractMetadata.GetContractNumberHeader),
    new BreadcrumbItem(Url.Action(MVC.Report.Package.ActionNames.Index, MVC.Report.Package.Name, new { area = MVC.Report.Name }), "Пакет отчетни документи")
}, "Преглед")

<!-- PAGE TITLE -->
<div class="container page-title">
    <h1>@ContractMetadata.GetContractNumberHeader, @Global.FinanceReport № @Model.docNumber</h1>
</div>

<div class="container">
    <form>
        @Html.Partial(MVC.Shared.Views._ExpandCollapseWithEcoPartial)
        <ul class="nav nav-tabs">
            @Html.ActionLink(Global.FinanceReport, MVC.Report.FinanceReport.ActionNames.Prepare, MVC.Report.FinanceReport.Name, new { area = MVC.Report.Name }, new { @class = "tab wait" })
            @Html.ActionLink(Global.ButtonPreviewText, MVC.Report.FinanceReport.ActionNames.Display, MVC.Report.FinanceReport.Name, new { area = MVC.Report.Name }, new { @class = "tab active wait" })

            @Html.ActionLink(Global.Print, MVC.Report.FinanceReport.ActionNames.Print, MVC.Report.FinanceReport.Name, null, new { @class = "top-print-btn", target = "_blank" })
        </ul>
    </form>
    <div class="tab-content">

        <div class="form-with-sections">

            @Html.ValidationSummaryForErrorsWithBackButton(Model.LocalValidationErrors, null, Global.ValidationSummaryTitle,
                Url.Action(MVC.Report.FinanceReport.ActionNames.Prepare, MVC.Report.FinanceReport.Name), Global.ValidationSummaryLinkTitle)
            @Html.ValidationSummaryForWarningsWithBackButton(null, Global.ValidationSummaryWarningsTitle,
                Url.Action(MVC.Report.FinanceReport.ActionNames.Prepare, MVC.Report.FinanceReport.Name), Global.ValidationSummaryWarningLinkTitle)

            @Html.DisplayFor(m => m)

            <div class="form-submit">
                @Html.ActionLink(Global.BackButton, MVC.Report.FinanceReport.ActionNames.Prepare, MVC.Report.FinanceReport.Name, null, new { @class = "blue-button small back left" })
                @if (Model.CanEnterErrors == null || Model.CanEnterErrors.Count == 0)
                {
                    @Html.ActionLink(Global.ButtonCompleteTextUpper, MVC.Report.FinanceReport.ActionNames.Submit, MVC.Report.FinanceReport.Name, null, new { @class = "blue-button wait" })
                }
            </div>

            @if (Model.CanEnterErrors != null && Model.CanEnterErrors.Count > 0)
            {
                <div class="validation-summary-errors" style="margin-top:20px;">
                    <ul>
                        @foreach (var error in Model.CanEnterErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
