@using Eumis.Portal.Web.Helpers

@Html.Partial(MVC.Submit.Views._BreadcrubSteps)

<div class="container">
    <div class="page-content submission-type  clearfix">
        <h2>@HowToSubmit.ChooseWayToSubmitProject</h2>
        <div class="col-xs-12">
            <div class="col-md-6">
                <a href="@(Url.Action(MVC.Submit.ActionNames.SaveForPaper, MVC.Submit.Name))" title="" class="submission">
                    <img class="act visible-lg" src="/Content/img/icons/subm-print.gif" alt="">
                    <img class="arr hidden-xs" src="/Content/img/icons/arrow-right.png" alt="">
                    <span>@HowToSubmit.Submit</span>
                    <span>@HowToSubmit.ProjectProposal</span>
                    <span>@Html.Raw(HowToSubmit.Nbsp)</span>
                    <strong>@HowToSubmit.OnPaper</strong>
                </a>
            </div>
            <div class="col-md-6">
                <a href="@(Url.Action(MVC.Submit.ActionNames.Signature, MVC.Submit.Name))" title="" class="submission">
                    <img class="act visible-lg" src="/Content/img/icons/subm-sign.gif" alt="">
                    <img class="arr hidden-xs" src="/Content/img/icons/arrow-right.png" alt="">
                    <span>@HowToSubmit.Submit</span>
                    <span>@HowToSubmit.ProjectProposal</span>
                    <span>@Html.Raw(HowToSubmit.Nbsp)</span>
                    <strong>@HowToSubmit.DigitalSignature</strong>
                </a>
            </div>
        </div>
    </div>
</div>
