@model Eumis.Portal.Web.Models.Account.ForgotPasswordVM

@using Eumis.Common.ReCaptcha
@using Eumis.Portal.Web.Helpers

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton),
    new BreadcrumbItem(Url.Action(MVC.Report.Account.ActionNames.Login, MVC.Report.Account.Name), Global.BreadcrumbsLogin)
}
        , Global.BreadcrumbsForgottenPassword)

<div class="container page-title">
    <h1>@Global.BreadcrumbsForgottenPassword</h1>
</div>

<div class="container">
    @Html.ValidationSummary()
    <div class="page-content">
        <form class="form-with-sections" method="post">
            <h2 class="m-top-0">
                @ForgotPassword.UserProfile
            </h2>
            <section data-section="2" class="clearfix" style="display: block;">
                <div class="form-group col-lg-4 col-sm-6">
                    <label><span class="required-span">*</span> @ForgotPassword.Email</label>
                    @Html.EditorFor(m => m.Email, MVC.Shared.Views.EditorTemplates.String)
                </div>
                <div class="form-group col-lg-4 col-sm-6">
                    @Html.ReCaptcha(Constants.ReCaptchaSiteKey)
                </div>
                <div class="col-lg-4 col-sm-12">
                    <input type="submit" class="submit m-right-0 wait" value="@Global.ButtonContinueText">
                </div>
            </section>
        </form>
    </div>
</div>