@model Eumis.Portal.Web.Models.Account.LoginVM

@using Eumis.Common.ReCaptcha
@using Eumis.Portal.Web.Helpers

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton)
}
        , Global.BreadcrumbsLogin)

<div class="container page-title">
    <h1>@Global.BreadcrumbsLogin</h1>
</div>

<div class="container">
    @Html.ValidationSummary()
    <div class="page-content clearfix">
        <form method="post">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12 col-sm-offset-0">
                <div class="col-xs-12">
                    <h2 class="m-top-10">
                        Вход за управление на проекти
                    </h2>
                </div>
                <div class="col-md-6 clearfix">
                    <div class="info-block">
                        <p class="text-justify">Този достъп е предназначен само за Ръководители на проекти от страна на бенефициентите. Правата се предоставят от управляващия орган на съответната оперативна програма, по която е финансиран договорът.</p>
                        <p class="text-justify">След влизане в профила си с потребителско име и парола имате възможност да изберете и управлявате Вашите проекти.</p>
                        <p class="text-justify">Ако сте експерт, подпомагащ Ръководителя на проект в отчитането, моля, влезте в системата с помощта на бутона по-долу.</p>
                    </div>

                    <div class="home-login">
                        <div class="txt-align-center">
                            @Html.ActionLink("Вход с код за достъп", MVC.Report.Account.ActionNames.AccessCodeLogin, MVC.Report.Account.Name, new { area = MVC.Report.Name }, new { @class = "login-btn" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6 clearfix">
                    <div class="form-group">
                        <label><span class="required-span">*</span> @Login.Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "" })
                    </div>
                    <div class="form-group">
                        <label><span class="required-span">*</span> @Login.Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.ReCaptcha(Constants.ReCaptchaSiteKey)
                    </div>
                    <div class="row">
                        <div class="form-group new-forg-pass col-xs-6">
                            @Html.ActionLink(Login.ForgottenPassword, MVC.Report.Account.ActionNames.ForgotPassword, MVC.Report.Account.Name)
                        </div>
                        <div class="col-xs-6">
                            <input type="submit" class="submit m-top-10 wait pull-right" value="@Global.Login">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>