@using Eumis.Portal.Web.Helpers
@model Eumis.Portal.Web.Models.Account.ActivateVM

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Default.ActionNames.Index, MVC.Default.Name), Global.HomeButton)
}
    , Global.BreadcrumbsActivate)

<div class="container warnings">
    <img class="icon" src="@Url.Content(Links.Content.img.icons.success_gif)" alt="" />
    <p><strong>@Activate.InfoP2</strong></p>
    <p>&nbsp;</p>
    <p>@Activate.InfoP3</p>
    <p>@Activate.InfoP4</p>
    <p>&nbsp;</p>

    <form method="post">
        <section class="clearfix">
            @Html.HiddenFor(m => m.ActivationCode)
            <div class="form-group col-xs-12" style="text-align: left;">
                @Html.ValidationSummary()
            </div>
            <div class="form-group col-lg-4 col-sm-6" style="text-align: left;">
                <label>@Activate.Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", data_content = Activate.PasswordNotification })
            </div>
            <div class="form-group col-lg-4 col-sm-6" style="text-align: left;">
                <label>@Activate.ConfirmPassword</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="col-lg-4 col-sm-12">
                <input type="submit" class="submit m-right-0 wait" value="@Global.ButtonContinueText">
            </div>
        </section>
        <script type="text/javascript">
            $(document).ready(function() {
                $("input").popover({
                    placement: "top",
                    trigger: "focus"
                });
            });
        </script>
    </form>
</div>