@using Eumis.Portal.Web.Helpers
@model Eumis.Portal.Web.Models.Account.ChangePasswordVM

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Default.ActionNames.Index, MVC.Default.Name), Global.HomeButton)
}
            , ProfileEdit.ChangePassword)

<div class="container page-title">
    <h1>@ProfileEdit.ChangePassword</h1>
</div>

<div class="container">
    @Html.ValidationSummary()

    @if (TempData["SuccessPasswordUpdate"] != null)
    {
        <div class="validation-summary-errors validation-success">
            <ul>
                <li>
                    <strong>@Global.SuccessPasswordUpdate</strong>
                </li>
            </ul>
        </div>
    }

    <div class="page-content">
        <form class="form-with-sections" method="post">
            <section data-section="2" class="clearfix" style="display: block;">
                
                <div class="form-group col-lg-4 col-sm-6">
                    <label><span class="required-span">*</span> @ProfileEdit.OldPassword</label>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
                <div class="form-group col-lg-4 col-sm-6">
                    <label><span class="required-span">*</span> @ProfileEdit.Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", data_content = ProfileEdit.PasswordHint })
                </div>
                <div class="form-group col-lg-4 col-sm-6">
                    <label><span class="required-span">*</span> @ProfileEdit.ConfirmPassword</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-sm-12">
                    <input type="submit" class="submit m-right-0 wait" value="@Global.ButtonContinueText">
                </div>
            </section>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("input").popover({
                        placement: "top",
                        trigger: "focus"
                    });
                });
            </script>
        </form>
    </div>
</div>