<div class="lang-login">

    <div class="lang-clock">
        <ul class="clock" style="display:none;">
            <li class="hidden-xs hidden-sm hidden-md" id="day">@DateTime.Now.Day.ToString("00")</li>
            <li class="hidden-xs hidden-sm hidden-md" id="point">.</li>
            <li class="hidden-xs hidden-sm hidden-md" id="month">@DateTime.Now.Month.ToString("00")</li>
            <li class="hidden-xs hidden-sm hidden-md" id="point">.</li>
            <li class="hidden-xs hidden-sm hidden-md" id="year">@DateTime.Now.Year.ToString("00")</li>
            <li class="hidden-xs hidden-sm hidden-md">&nbsp;@Global.YearsShort&nbsp;</li>

            <li id="hours"> </li>
            <li id="point">:</li>
            <li id="min"> </li>
            @*<li id="point">:</li>
            <li id="sec"> </li>*@
            <li>@Global.HoursShort</li>
        </ul>

        @if (SystemLocalization.IsLangaugePage(ViewContext.RouteData))
            {
                if (SystemLocalization.GetCurrentLanguage() == LocalizationLanguage.Bulgarian)
                {
                    <a href="@Html.LanguageUrl("en")" class="lang en">
                        English
                    </a>
                }
                else if (SystemLocalization.GetCurrentLanguage() == LocalizationLanguage.English)
                {
                    <a href="@Html.LanguageUrl("bg")" class="lang bg">
                        Български
                    </a>
                }
            }
    </div>

    @if (Request.IsAuthenticated)
    {
        <script>
          if (typeof dtrum !== "undefined") {
            dtrum.identifyUser("@CurrentUser.Email");
          }     
        </script>
        
        <span class="welcome">
            @Global.User: <strong>@CurrentUser.FirstName @CurrentUser.LastName</strong>
        </span>
        <div class="btn-group nav-dropdown">
            <a class="dropdown-toggle login" data-toggle="dropdown">@Global.BreadcrumbsProfile <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action(MVC.Account.ActionNames.ProfileEdit, MVC.Account.Name)"><span class="glyphicon glyphicon-user"></span> @ProfileEdit.Profile</a></li>
                <li><a href="@Url.Action(MVC.Account.ActionNames.ChangePassword, MVC.Account.Name)"><span class="glyphicon glyphicon-cog"></span> @ProfileEdit.ChangePassword</a></li>
                <li>
                    <a href="@Url.Action(MVC.Account.ActionNames.Logout, MVC.Account.Name)"
                       data-toggle="confirmation-no-title"
                       data-title="@Splashes.OpenDocument">
                        <span class="glyphicon glyphicon-log-out"></span>
                        @Global.Logout
                    </a>
                </li>
            </ul>
        </div>
    }
    else
    {
        @Html.ActionLink(Global.Login, MVC.Account.ActionNames.Login, MVC.Account.Name, null, new { @class = "login" })
    }
</div>
