@using Eumis.Public.Web.Models.OperationalProgram
@using Eumis.Public.Web.InfrastructureClasses

@model OpIndexModel

@section scripts{
    @Scripts.Render(BundleConfig.Highcharts)
}

@{ var breadcrumbText = Model.OperationalPrograms.ProgrammeGroups.Count > 0 ? Texts.Global_AllOperationalPrograms : Texts.ProgrammeGroups_Other; }

@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), Texts.Global_Home)
}, breadcrumbText)

<div class="container">

    @Html.Partial(MVC.Shared.Views._GroupTitle, new ViewDataDictionary { { "groupTitle", breadcrumbText } })

    @if (Model != null)
    {
        <div class="tab-content">
            <div class="heading-with-export clearfix">
                <h2>@Texts.OpeationalPrograms_Index_Execution</h2>
                @Html.Partial(MVC.Shared.Views._ExportIcons)
            </div>
            <div class="table-wrapper">
                <table class="chart-info">
                    <thead>
                        <tr>
                            <th rowspan="2">@Texts.Global_OperationalProgram</th>
                            <th colspan="3">@Texts.Global_BudgetProgram</th>
                            <th colspan="2">@Texts.OpeationalPrograms_Index_Projects</th>
                            <th colspan="4">@Texts.Global_Contracted **</th>
                            <th colspan="4">@Texts.Global_Payed</th>
                        </tr>
                        <tr>
                            <th>@Texts.Global_Total</th>
                            <th>@Texts.Global_FinancingEU</th>
                            <th>@Texts.Global_FinancingNF</th>
                            <th>@Texts.OpeationalPrograms_Index_ProjectsCount</th>
                            <th>@Texts.OpeationalPrograms_Index_ContractsCount</th>
                            <th>@Texts.Global_Total</th>
                            <th>@Texts.OpeationalPrograms_Index_BFP</th>
                            <th>% *</th>
                            <th>@Texts.Global_FinancingEU</th>
                            <th>@Texts.OpeationalPrograms_Index_BFP</th>
                            <th>% *</th>
                            <th>@Texts.Global_FinancingEU</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var operationalProgramGroup in Model.OperationalPrograms.ProgrammeGroups)
                        {
                            if (operationalProgramGroup.OperationalPrograms.Count > 0)
                            {
                                foreach (var operationalProgram in operationalProgramGroup.OperationalPrograms)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action(MVC.OPProfile.ActionNames.Index, MVC.OPProfile.Name, new RouteValueDictionary() { { RouteConfig.OPABB, operationalProgram.Id } })" title="">@operationalProgram.TransName</a>
                                        </td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.BudgetTotal)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.BudgetEU)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.BudgetNational)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ProjectsCount)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractsCount)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractTotal)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractBFP)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractPercent)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractEU)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.PaidBFP)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.PaidPercent)</td>
                                        <td class="sum-field">@Html.DisplayFor(m => operationalProgram.PaidEU)</td>
                                    </tr>
                                }
                                <tr>
                                    <td><span class="totals">@Texts.Global_Total @(operationalProgramGroup.GroupName):</span></td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.BudgetTotalSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.BudgetEUSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.BudgetNationalSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.ProjectsCountSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.ContractsCountSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.ContractTotalSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.ContractBFPSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.ContractSumPercent)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.ContractEUSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.PaidBFPSum)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.PaidSumPercent)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgramGroup.Totals.PaidEUSum)</td>
                                </tr>
                            }
                        }
                        @if (Model.OperationalPrograms.OtherProgrammes.Count > 0)
                        {
                            foreach (var operationalProgram in Model.OperationalPrograms.OtherProgrammes)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action(MVC.OPProfile.ActionNames.Index, MVC.OPProfile.Name, new RouteValueDictionary() { { RouteConfig.OPABB, operationalProgram.Id } })" title="">@operationalProgram.TransName</a>
                                    </td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.BudgetTotal)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.BudgetEU)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.BudgetNational)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ProjectsCount)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractsCount)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractTotal)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractBFP)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractPercent)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.ContractEU)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.PaidBFP)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.PaidPercent)</td>
                                    <td class="sum-field">@Html.DisplayFor(m => operationalProgram.PaidEU)</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td><span class="totals">@Texts.Global_Total.ToUpper():</span></td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.BudgetTotalSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.BudgetEUSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.BudgetNationalSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.ProjectsCountSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.ContractsCountSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.ContractTotalSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.ContractBFPSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.ContractSumPercent)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.ContractEUSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.PaidBFPSum)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.PaidSumPercent)</td>
                            <td class="sum-field">@Html.DisplayFor(m => m.OperationalPrograms.GrandTotals.PaidEUSum)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>@Texts.Global_Note:</h2>
            <div class="note">
                * - @Texts.OpeationalPrograms_Index_ProgramBudgetPercent<br />
                ** - @Texts.OperationalPrograms_Index_NoteContracted<br />
                @Texts.Global_NoteBudget<br />
                @Texts.Global_NoteBGN
            </div>

            <div class="chart-wrapper">
                <img class="horizontal-scroll" src="~/Content/img/icons/horizontal-scroll.png" alt="" />
                @Html.Pie(Url, Model.BudgetPie, new { @class = "chart-pie" })
            </div>

            <div class="chart-wrapper">
                <img class="horizontal-scroll" src="~/Content/img/icons/horizontal-scroll.png" alt="" />
                @Html.Chart(Url, Model.ProgrammeFinanceSourceAmountsChart, new { @class = "chart" })
            </div>

            <div class="chart-wrapper">
                <img class="horizontal-scroll" src="~/Content/img/icons/horizontal-scroll.png" alt="" />
                @Html.Pie(Url, Model.FinanceSourcePie, new { @class = "chart-pie" })
            </div>

            <div class="chart-wrapper">
                <img class="horizontal-scroll" src="~/Content/img/icons/horizontal-scroll.png" alt="" />
                @Html.Chart(Url, Model.BudgetChart, new { @class = "chart" })
            </div>

            <div class="chart-wrapper">
                <img class="horizontal-scroll" src="~/Content/img/icons/horizontal-scroll.png" alt="" />
                @Html.Chart(Url, Model.ProgrammesExecutionChart, new { @class = "chart" })
            </div>

        </div>
    }
</div>
